<!--main-faq-box-->
<div class="main-faq-box bg-box cnt-section">
	<div class="inner-wrap">
		<div class="title-outer-wrap">
			<h2 class="h2-title">Часто задаваемые вопросы</h2>
		</div>
		<div class="items-wrap">
			<!--item wrap-->
			<div class="item-wrap">
				<div class="item-faq js-popup-wrap no-close">
					<a href="" class="btn-faq h3-title js-btn-toggle">Кому нужна пожарная лицензия?</a>
					<div class="faq-content-block js-popup-block">
						<p>Лицензия действует бессрочно. Статья 9 Федерального закона от 4 мая  2011 г. № 99-ФЗ.</p>
					</div>
				</div>
			</div>
			<!--/item wrap-->
			<!--item wrap-->
			<div class="item-wrap">
				<div class="item-faq js-popup-wrap no-close">
					<a href="" class="btn-faq h3-title js-btn-toggle active">На какой срок предоставляется лицензия?</a>
					<div class="faq-content-block js-popup-block">
						<p>Лицензия действует бессрочно. Статья 9 Федерального закона от 4 мая  2011 г. № 99-ФЗ.</p>
					</div>
				</div>
			</div>
			<!--/item wrap-->
			<!--item wrap-->
			<div class="item-wrap">
				<div class="item-faq js-popup-wrap no-close">
					<a href="" class="btn-faq h3-title js-btn-toggle">В какие сроки лицензирующий орган принимает решение о предоставлении или об отказе в предоставлении лицензии?</a>
					<div class="faq-content-block js-popup-block">
						<p>Лицензия действует бессрочно. Статья 9 Федерального закона от 4 мая  2011 г. № 99-ФЗ.</p>
					</div>
				</div>
			</div>
			<!--/item wrap-->
			<!--item wrap-->
			<div class="item-wrap">
				<div class="item-faq js-popup-wrap no-close">
					<a href="" class="btn-faq h3-title js-btn-toggle">Можно ли работать без лицензии?</a>
					<div class="faq-content-block js-popup-block">
						<p>Лицензия действует бессрочно. Статья 9 Федерального закона от 4 мая  2011 г. № 99-ФЗ.</p>
					</div>
				</div>
			</div>
			<!--/item wrap-->
			<!--item wrap-->
			<div class="item-wrap">
				<div class="item-faq js-popup-wrap no-close">
					<a href="" class="btn-faq h3-title js-btn-toggle">На какой территории действует лицензия МЧС?</a>
					<div class="faq-content-block js-popup-block">
						<p>Лицензия действует бессрочно. Статья 9 Федерального закона от 4 мая  2011 г. № 99-ФЗ.</p>
					</div>
				</div>
			</div>
			<!--/item wrap-->
			<!--item wrap-->
			<div class="item-wrap">
				<div class="item-faq js-popup-wrap no-close">
					<a href="" class="btn-faq h3-title js-btn-toggle">Если изменился юридический адрес, должны ли мы уведомить ГУ ГПС МЧС РФ?</a>
					<div class="faq-content-block js-popup-block">
						<p>Лицензия действует бессрочно. Статья 9 Федерального закона от 4 мая  2011 г. № 99-ФЗ.</p>
					</div>
				</div>
			</div>
			<!--/item wrap-->
			<!--item wrap-->
			<div class="item-wrap">
				<div class="item-faq js-popup-wrap no-close">
					<a href="" class="btn-faq h3-title js-btn-toggle">Виды лицензируемой деятельности в области пожарной безопасности?</a>
					<div class="faq-content-block js-popup-block">
						<p>Лицензия действует бессрочно. Статья 9 Федерального закона от 4 мая  2011 г. № 99-ФЗ.</p>
					</div>
				</div>
			</div>
			<!--/item wrap-->
		</div>
	</div>
</div>
<!--/main-faq-box-->