
<!-- footer -->
<footer class="footer">
	<!--footer-main-panel-->
	<div class="footer-main-panel cnt-section">
		<div class="inner-wrap">
			<div class="logo-wrap">
				<a href="" class="logo">
					<img src="./img/main/logo.svg" alt="">
				</a>
			</div>
			<div class="info-wrap">
				<div class="cnt-wrap">г. Москва, Кутузовский проспект, 12 стр.6,&nbsp;офис&nbsp;10</div>
				<div class="cnt-wrap">
					<div class="cnt-link">
						<a href="tel:84951092902" class="phone-link">+7 (495) 109 29 02</a>
					</div>
					<div class="cnt-link">
						<a href="tel:89269702987" class="phone-link">+ 7 (926) 970 29 87</a>
					</div>
				</div>
				<div class="cnt-wrap">
					<div class="cnt-link">
						<a href="mailto:info@gr-project.ru" class="email-link">info@gr-project.ru</a>
					</div>
				</div>
			</div>
			<div class="soc-wrap">
				<div class="cnt-wrap">
					<a href="">Facebook</a>
				</div>
				<div class="cnt-wrap">
					<a href="">Instagram</a>
				</div>
			</div>
		</div>
	</div>
	<!--/footer-main-panel-->
	<!--footer-bottom-panel-->
	<div class="footer-bottom-panel cnt-section">
		<div class="inner-wrap">
			<div class="menu-wrap">
				<ul class="menu">
					<li class="menu-hidden"><a href="">Контакты</a></li>
					<li class="menu-hidden"><a href="">Новости</a></li>
					<li><a href="">Лицензия МЧС</a></li>
					<li><a href="">ЭТЛ</a></li>
					<li><a href="">Аренда и продажа оборудования</a></li>
					<li><a href="">Обучение специалистов</a></li>
					<li><a href="">Допуск СРО</a></li>
				</ul>
			</div>
			<div class="info-wrap">
				<ul>
					<li>2022 Проект Партнер.</li>
					<li><a href="">Политика конфиденциальности</a></li>
				</ul>
			</div>
			<div class="desc-wrap">
				<p>Информация на сайте носит справочный характер и не является публичной офертой, определяемой положениями Статьи 437 Гражданского кодекса Российской Федерации. Оставляя свои данные, Вы соглашаетесь с условиями Пользовательского Соглашения и даете согласие на обработку персональных данных.</p>
			</div>
			<div class="studio-wrap">
				Создание сайта  - <a href="">NSVision</a>
			</div>
		</div>
	</div>
	<!--/footer-bottom-panel-->
</footer>
<!-- /footer -->

<div id="popup-callback" class="popup-box">
	<div class="popup-title">Оставьте заявку на бесплатную консультацию специалиста</div>
	<form action="/" class="frm-popup">
		<div class="frm-row">
			<div class="frm-field">
				<input type="text" class="form-input" placeholder="Ваше имя">
			</div>
		</div>
		<div class="frm-row">
			<div class="frm-field">
				<input type="tel" class="form-input" placeholder="Телефон">
			</div>
		</div>
		<div class="frm-row">
			<div class="frm-field">
				<input type="email" class="form-input" placeholder="Email">
			</div>
		</div>
		<div class="frm-row-submit">
			<div class="submit-info">
				<div class="frm-info">Нажимая на кнопку “Отправить заявку”, я принимаю условия <a href="">Политики конфидециальности</a></div>
			</div>
			<div class="submit-button">
				<button type="submit" class="btn">Отправить заявку</button>
			</div>
		</div>
	</form>
</div>
<div id="popup-order" class="popup-box">
	<div class="popup-title">Оставьте заявку на заказ услуги “Лицензия МЧС”</div>
	<form action="/" class="frm-popup">
		<div class="frm-row">
			<div class="frm-field">
				<select class="form-input">
					<option value="">Лицензия МЧС “под ключ”</option>
					<option value="">Электротехническая лаборатория “под ключ”</option>
					<option value="">Аренда и продажа оборудования “под ключ”</option>
					<option value="">Обучение специалистов “под ключ”</option>
					<option value="">СРО “под ключ”</option>
				</select>
			</div>
		</div>
		<div class="frm-row">
			<div class="frm-field">
				<input type="text" class="form-input" placeholder="Ваше имя">
			</div>
		</div>
		<div class="frm-row">
			<div class="frm-field">
				<input type="tel" class="form-input" placeholder="Телефон">
			</div>
		</div>
		<div class="frm-row">
			<div class="frm-field">
				<input type="email" class="form-input" placeholder="Email">
			</div>
		</div>
		<div class="frm-row-submit">
			<div class="submit-info">
				<div class="frm-info">Нажимая на кнопку “Отправить заявку”, я принимаю условия <a href="">Политики конфидециальности</a></div>
			</div>
			<div class="submit-button">
				<button type="submit" class="btn">Отправить заявку</button>
			</div>
		</div>
	</form>
</div>
<div id="popup-message" class="popup-box popup-message">
	<div class="popup-message-text">Мы уже обрабатываем вашу заявку. Наш специалист свяжется с вами в течении 15&nbsp;минут</div>
</div>