
<!-- header -->
<header class="header">
	<div class="inner-wrap">
		<div class="logo-wrap">
			<a href="" class="logo">
				<img src="./img/main/logo.svg" alt="">
			</a>
		</div>
		<div class="main-menu-wrap menu-wrap js-popup-wrap">
			<a href="" class="btn-action-ico ico-menu js-btn-toggle"></a>
			<div class="menu-content-block js-popup-block">
				<a href="" class="btn-action-ico ico-close js-btn-close"></a>
				<ul class="menu">
					<li class="submenu">
						<a href="">Услуги</a>
						<ul>
							<li><a href="">Лицензия МЧС</a></li>
							<li><a href="">ЭТЛ</a></li>
							<li><a href="">Аренда и продажа оборудования</a></li>
							<li><a href="">Обучение специалистов</a></li>
							<li><a href="">Допуск СРО</a></li>
						</ul>
					</li>
					<li><a href="">Контакты</a></li>
					<li><a href="">Новости</a></li>
				</ul>
				<div class="phone-action">
					<a href="" class="btn" data-src="#popup-callback" data-fancybox>Заказать звонок</a>
				</div>
			</div>
		</div>
		<div class="phone-wrap">
			<div class="phone-number">
				<a href="tel:84951092902" class="phone-link">+7 (495) 109 29 02</a>
			</div>
			<div class="phone-action">
				<a href="" class="btn" data-src="#popup-callback" data-fancybox>Заказать звонок</a>
			</div>
		</div>
	</div>
</header>
<!-- /header -->