<!--main-order-box-->
<div class="main-order-box cnt-section">
	<div class="inner-wrap">
		<div class="title-outer-wrap">
			<div class="title-wrap">
				<h2 class="h2-title">Оставьте заявку на бесплатную консультацию специалиста</h2>
			</div>
			<div class="text-wrap">
				<p>Наш специалист свяжется с вами в течении 15 минут</p>
			</div>
		</div>
		<div class="form-outer-wrap">
			<form action="/" class="frm-wrap">
				<div class="frm-row">
					<div class="frm-field">
						<input type="text" class="form-input" placeholder="Ваше имя">
					</div>
					<div class="frm-field">
						<input type="tel" class="form-input" placeholder="Телефон">
					</div>
					<div class="frm-field">
						<input type="email" class="form-input" placeholder="Email">
					</div>
				</div>
				<div class="frm-row-submit">
					<div class="submit-info"><div class="frm-info">Нажимая на кнопку “Отправить заявку”, я принимаю условия <a href="">Политики конфидециальности</a></div></div>
					<div class="submit-button">
						<button type="submit" class="btn">Отправить заявку</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
<!--/main-order-box-->